# Node modules
node_modules/

# Hardhat cache
cache/
artifacts/
typechain-types/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

package-lock.json


# Optional: Ignore compiled Solidity files
*.sol.js
