/* src/app/page.module.css */

.pageContainer {
  width: 100%;
  max-width: 1000px; /* Max width for the entire content area */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between main sections */
  padding: 20px;
}

.mainTitle {
  font-size: 2.8em;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 30px;
  text-align: center;
}